// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /* === Paleta obrigatória do desafio === */

  --ion-color-primary: #473C33;
  --ion-color-primary-rgb: 71, 60, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3e352d;
  --ion-color-primary-tint: #594f47;

  --ion-color-secondary: #ABC270;
  --ion-color-secondary-rgb: 171, 194, 112;
  --ion-color-secondary-contrast: #2b2b2b;
  --ion-color-secondary-contrast-rgb: 43, 43, 43;
  --ion-color-secondary-shade: #96ab63;
  --ion-color-secondary-tint: #b3c87e;

  --ion-color-tertiary: #FDA769;
  --ion-color-tertiary-rgb: 253, 167, 105;
  --ion-color-tertiary-contrast: #2b2b2b;
  --ion-color-tertiary-contrast-rgb: 43, 43, 43;
  --ion-color-tertiary-shade: #df935c;
  --ion-color-tertiary-tint: #fdb078;

  --ion-color-warning: #FEC868;
  --ion-color-warning-rgb: 254, 200, 104;
  --ion-color-warning-contrast: #2b2b2b;
  --ion-color-warning-contrast-rgb: 43, 43, 43;
  --ion-color-warning-shade: #e0b05b;
  --ion-color-warning-tint: #fecd76;
}
